
body {
    height: 100vh;
    padding-left: 300px; 
    padding-right: 2vw; 
}

.container {
    display: flex;
    align-items: center; 
    width: 100%;
    padding-top: 10vh;
    flex-direction: row;
    flex-wrap: wrap
}



.profile img {
    width: 25vw;  
    height: auto;
    border-radius: 50%;
}


h1 {
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.text-section {
    flex: 1 1 300px;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.subtitle {
    font-size: 1.6vw;
    font-weight: 600;
    color: #555;
    margin-top: 1rem;
    white-space: normal;
}

.description {
    font-size: 2vw;
    line-height: 1.6;
    margin-top: 2rem;
    color: #333;
}
