<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">



<nav class="mobile-sidebar" id="mobile-sidebar">
    <button id="mobile-sidebarToggle">☰</button>
    <span class="mobile-name">Andrei Tamse</span>
    <ul class="mobile-sidebar-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>

    <div class="mobile-social-icons">
        <a href="https://www.instagram.com/andrei_tamse" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Brasprin" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/agtamse" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <span class="mobile-copyright">Copyright ©2025 Andrei Tamse. All rights reserved.</span>
</nav>