<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<nav class="sidebar" id="sidebar">
    <span class="name">Andrei Tamse</span>
    <ul class="sidebar-menu">
<li><a href="#/" hx-get="partials/home.html" hx-target="#content">Home</a></li>
<li><a href="#/projects" hx-get="partials/projects.html" hx-target="#content">Projects</a></li>
<li><a href="#/resume" hx-get="partials/resume.html" hx-target="#content">Resume</a></li>
<li><a href="#/contact" hx-get="partials/contact.html" hx-target="#content">Contact</a></li>

    </ul>
    

    <div class="social-icons">
        <a href="https://www.instagram.com/andrei_tamse" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/Brasprin" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/agtamse" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    
    <span class="copyright"> Copyright ©2025 Andrei Tamse. All right reserved.</span>
</nav>
